* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: #A9C9FF;
    background-image: linear-gradient(90deg, #A9C9FF 0%, #FFBBEC 100%);
}

/*Barra de navegación*/
.barra-navegacion {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 900px;
    height: 50px;
    margin: 3px auto;
    padding: 20px;
    background-color: rgba(250, 248, 248, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.tarea-agregar {
    display: flex;
    align-items: center;
    gap: 10px;
}
#agregar {
    font-size: 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgb(152,23,237);
    border: 3px ridge black;
    box-shadow:6px 4px 5px rgb(55, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;
}
#agregar:hover{
    color: black;
}
#agregar:active{ 
    color: rgb(48, 229, 242);
    transform: scale(90%);
    color: white;
}
.filtrar {
    display: flex;    
    align-items: center;
    justify-content: end;
    gap: 15px;
}
.filtro-btn {
    width: 100px;
    height: 25px;
    padding: 5px 10px;
    border: 3px bolder ;
    box-shadow:6px 4px 5px rgb(55, 53, 53);
    transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    font-size:.7em;
}
.filtro-btn:hover {
    color: rgb(110, 36, 174);
}
.filtro-btn:active {
    color: white;
    transform: scale(90%);
}
.todas{
    background-color:#a7ddfa
}
.enProceso{
    background-color:#f6a5ee
}
.listas{
    background-color:#cca6f8
}
/*Contenido de las tareas*/
.tareas {
    width: 928px;
    margin: 0 auto;
    padding: 10px 5px 5px 5px;
    background-color: rgba(252, 255, 255);
    background-repeat: repeat-y;
    background-size: auto;
}
.cabecera {
    display: flex;
    text-align: center;
    justify-content: left;
    font-weight: bold;
    margin: 8px 10px;
    gap: 4px;
}
.titulo {
    width: 232px;
    text-align: center;
    justify-content: center;
    padding-top: 11px;
    border: 1.5px ridge rgb(159, 12, 237);
    border-top-left-radius: 15px;
}
.descripcion {
    width: 490px;
    text-align: center;
    padding-top: 11px;
    border: 4px ridge rgb(white);
    border: 1.5px ridge rgb(159, 12, 237);
}
.estados {
    width: 90px;
    padding: 6px 0px 0px 0px;
    border: 1.5px ridge rgb(159, 12, 237);
}
.estado {
    width: 90px;
    font-size: 8px;
}
.acciones {
    width: 80px;
    text-align: center;
    justify-content: center;
    padding-top: 11px;
    border: 1.5px ridge rgb(159, 12, 237);
    border-top-right-radius: 15px;
}

/*FILAS*/
.fila-tarea {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
    margin: 8px 10px;
    gap: 4px;
    background-color: rgba(238, 199, 247, 0.3);
    border-bottom:1px solid rgb(159, 12, 237)
}
.new-celda-titulo {
    width: 234px;
    height: 102px;
    text-align: center;
    padding-top: 5px;
    border-right:  3px solid white;
}
.new-titulo {
    border: none;
    width: 228px;
    height: 100px;
    padding-left: 5px;
    background-color: transparent;
}
.new-celda-descripcion {
    width: 482px;
    height: 102px;
    align-items: left;
    padding: 5px 0px 0px 5px;
    border-right:  3px solid white;
}
.new-descripcion {
    border: none;
    width: 482px;
    height: 100px;
    margin: 0;
    background-color: transparent;
}
.new-estado {
    width: 110px;
    border-right:  3px solid white;
}
.check {
    width: 25px;
    height: 25px;
    margin: 10px 0px 70px 3px;
    cursor: pointer;
}
.new-acciones{
    width: 80px;
    height: 90px;
    padding: 8px;
}

.eliminar-btn, .editar-btn {
    display: flex;
    width: 25px;
    height: 25px;
    margin: 1px;
    padding: 0px;
    background: none;
    border: none;
    cursor: pointer;
    box-shadow:3px 4px 5px rgb(55, 53, 53);
    border-radius: 5px;
}
.eliminar-btn:active, .editar-btn:active {
    color: white;
    transform: scale(130%);
    box-shadow:6px 4px 5px rgb(55, 53, 53);
    transition: transform 1s, box-shadow 0.3s;
}

.guardar-btn {
    width: 60px;
    height: 25px;
    margin-top: 2px;
    background-color: rgb(152,23,237);
    color: white;
    box-shadow:3px 4px 5px rgb(55, 53, 53);
    border-radius: 5px;
    cursor: pointer;
}
.guardar-btn:hover {
    color:rgb(48, 229, 242)
}
.guardar-btn:active {
    color: #fff;
    transform: scale(110%);
    box-shadow: 6px 4px 3px rgb(157, 151, 151);
}

#empty {
    width: 928px;
    height: 100vh;
    background-color:  rgba(187, 70, 214, 1);
    background-image: url("iconos/bandeja.png");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.2;
}
